<div class="Chip @Colour?.ToString().ToLower() @(OnClick.HasDelegate ? "clickable" : null) @(OnClick.HasDelegate ? "RippleEffect" : null)" title="@Description" @onclick="OnClick">
	<div class="icon">@LeadingIcon</div>
	@Text
	<div class="icon">@TrailingIcon</div>
</div>

@code {
	[Parameter, EditorRequired]
	public required string Text { get; set; }

	[Parameter]
	public Color? Colour { get; set; }

	[Parameter]
	public string? Description { get; set; }

	[Parameter]
	public EventCallback<MouseEventArgs> OnClick { get; set; }

	[Parameter]
	public string? LeadingIcon { get; set; }

	[Parameter]
	public string? TrailingIcon { get; set; }
}