@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

@foreach (var dialog in registeredDialogs)
{
    <div class="DialogBackdrop @(dialog.IsOpen ? "opened" : "closed")" @onclick="() => dialog.Close()"></div>
    switch (dialog)
    {
        case Modal:
            <div class="Modal @(dialog.IsOpen ? "opened" : "closed")">
                <div class="positionContainer">
                    <div class="ModalScreen" @onclick="() => dialog.Close()"></div>
                    <div class="containerz tiny">
                        <div class="window">
                            <Paper>
                                <div class="boxSpacer">
                                    @dialog.ChildContent
                                </div>
                            </Paper>
                        </div>
                    </div>
                </div>
            </div>
            break;
        case Drawer:
            <div class="Drawer @(dialog.IsOpen ? "opened" : "closed")">
                @dialog.ChildContent
            </div>
            break;
    }
}

@code {
    [CascadingParameter] private Backdrop backdrop { get; set; } = default!;

    private HashSet<IDialog> registeredDialogs = [];

    internal void Register(IDialog dialog)
    {
        registeredDialogs.Add(dialog);
        StateHasChanged();
    }

    internal void Unregister(IDialog dialog)
    {
        registeredDialogs.Remove(dialog);
        StateHasChanged();
        RunBackdropCheck();
    }

    internal async Task TriggerRender()
    {
        await InvokeAsync(StateHasChanged);
    }

    internal void RunBackdropCheck()
    {
        backdrop.SetBackdrop(this.GetType(), registeredDialogs.Any(m => m.IsOpen));
    }
}
