<button class="RippleEffect @Style.ToString().ToLower() @Size.ToString().ToLower() @Color.ToString().ToLower() @TextType.ToString().ToLower()" type="@Type.ToString().ToLower()" disabled="@Disabled" @onclick="OnClick">
    @ChildContent
</button>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public Style Style { get; set; } = Style.Normal;

    [Parameter]
    public Size Size { get; set; } = Size.Medium;

    [Parameter]
    public Color Color { get; set; } = Color.Default;

    [Parameter]
    public ButtonType Type { get; set; } = ButtonType.Submit;

    [Parameter]
    public TextType TextType { get; set; } = TextType.Normal;

    [Parameter]
    public bool Disabled { get; set; }

}
