@using System.Linq.Expressions;
@typeparam T

<Placeholder For="@ValueExpression" Format="@Format" HasData="HasData">
	<div class="InputMultiSelect @(isMenuOpen ? "active" : null)">
		<div class="inputbordering">
			<div style="margin: -.2rem 0;">
				<HStack Sizing="Sizing.Xs">
					<WrapStack Sizing="Sizing.Xs">
						@foreach (T option in Value)
						{
							<div class="chip">
								<Chip Text="@DisplayName(option)" OnClick="() => ToggleOption(option)" TrailingIcon="close" />
							</div>
						}
						<input class="PreventSubmit inputBase" @ref="inputRef" @bind="input" @bind:event="oninput" @onkeydown="OnKeyDown" @onclick="OpenMenu" @onblur="OnBlur" @onfocus="OnFocus" />
					</WrapStack>
					<StackWeight Weight="0">
						@if (HasData)
						{
							<div @onclick="ClearValue" class="RippleEffect" style="opacity: .5; cursor: pointer; width: 2rem; height: 2rem; border-radius: 50%; margin: -.25rem; display: flex; justify-content: center; align-items: center;">
								<Icon>close</Icon>
							</div>
						}
					</StackWeight>
				</HStack>
			</div>
		</div>
		@if (!isLimitReached)
		{
			<div class="menu" onmousedown="event.preventDefault()">
				<div class="options">
						@if (!filteredAvailableOptions.Any())
						{
							<div style="padding: 1rem 1rem; opacity: .5;">
								No options
							</div>
						}
						@foreach (T option in filteredAvailableOptions)
						{
							<div onmousedown="event.preventDefault()" class="RippleEffect option @(Value.Contains(option) ? "toggle" : null)" @onclick="() => ToggleOption(option)">
								@DisplayName(option)
							</div>
						}
				</div>
			</div>
		}
	</div>
</Placeholder>

@code {
	[Parameter, EditorRequired]
	public required List<T> Value { get; set; } // selected options

	[Parameter, EditorRequired]
	public required IEnumerable<T> Options { get; set; } // total options

	[Parameter]
	public required Func<T, string> DisplayName { get; set; } = (value) => value?.ToString() ?? string.Empty;

	[Parameter]
	public Func<string, string> Format { get; set; } = (str) => str;

	[Parameter]
	public EventCallback<List<T>> ValueChanged { get; set; }

	[Parameter]
	public Expression<Func<List<T>>>? ValueExpression { get; set; }

	[Parameter]
	public int? Limit { get; set; }

	[Parameter]
	public Func<string, T>? CreateNew { get; set; }

	public bool HasData => Value.Any() || !string.IsNullOrEmpty(input);

	private string input
	{
		get;
		set
		{
			field = value;
			internalSearch = value;
			if (isFocused)
			{
				isMenuOpen = true;
			}
		}
	} = String.Empty;
	private string internalSearch { get; set; } = string.Empty;
	private bool isMenuOpen;
	private ElementReference inputRef = default!;
	private IEnumerable<T> filteredAvailableOptions => Options.Where(option => DisplayName(option).Contains(internalSearch, StringComparison.InvariantCultureIgnoreCase)) ?? [];
	private bool isLimitReached => Limit is not null && Value.Count >= Limit;
	private bool isFocused;

	private async Task OnKeyDown(KeyboardEventArgs e)
	{
		if (e.Key == "Enter")
		{
			if (isMenuOpen)
			{
				if (CreateNew is not null && !string.IsNullOrWhiteSpace(input))
				{
					await ToggleOption(CreateNew(input));
				}
				else
				{
					T? option = filteredAvailableOptions.FirstOrDefault();
					if (option is not null)
					{
						await ToggleOption(option);
					}
				}
			}
			else
			{
				isMenuOpen = true;
			}
		}
		if (e.Key == "Backspace" && string.IsNullOrEmpty(input))
		{
			T? option = Value.LastOrDefault();
			if (option is not null)
			{
				await ToggleOption(option);
			}
		}
		if (e.Key is "﻿ArrowDown" or ﻿"ArrowUp")
		{

		}
	}

	private async Task ToggleOption(T optionValue)
	{
		if (!Value.Remove(optionValue) && !isLimitReached)
		{
			Value.Add(optionValue);
		}

		input = string.Empty;
		await ValueChanged.InvokeAsync(Value);
	}

	private void OpenMenu()
	{
		internalSearch = "";
		isMenuOpen = true;
	}

	private void OnBlur()
	{
		var tempInput = input;
		input = string.Empty;
		internalSearch = tempInput;
		isFocused = false;
		isMenuOpen = false;
	}

	private void OnFocus()
	{
		internalSearch = "";
		isFocused = true;
	}

	private async Task ClearValue()
	{
		Value.Clear();
		await ValueChanged.InvokeAsync(Value);
	}
}
