@using System.Linq.Expressions
@using System.Reflection
@typeparam T

<Placeholder For="@ValueExpression" Format="@Format" HasData="HasData">
    <div class="InputMultiSelect @(isMenuOpen ? "active" : "") @(Disabled ? "disabled" : null)">
        <div class="inputbordering">
            <div style="margin: -.2rem 0;">
                <WrapStack Sizing="Sizing.Xs">
                    <input class="PreventSubmit inputBase" @bind="input" @bind:event="oninput" @onkeydown="OnKeyDown" @onclick="OpenMenu" @onfocus="OnFocus" @onblur="OnBlur" />
                </WrapStack>
            </div>
        </div>
        <div class="menu" onmousedown="event.preventDefault()">
            <div class="options">
                @if (!filteredAvailableOptions.Any())
                {
                    <div style="padding: 1rem 1rem; opacity: .5;">
                        No options
                    </div>
                }
                @foreach (T option in filteredAvailableOptions)
                {
                    <div class="option @(Value?.Equals(option) ?? false ? "toggle" : null)" @onclick="() => ToggleOption(option)">
                        @DisplayName(option)
                    </div>
                }
            </div>
        </div>
    </div>
</Placeholder>

@code {
    [Parameter, EditorRequired]
    public required T? Value
    {
        get;
        set
        {
            field = value;
            input = value is not null ? DisplayName(value) : "";
            if (!isFocused || string.IsNullOrEmpty(internalSearch))
            {
                internalSearch = string.Empty;
            }
        }
    } // selected options

    [Parameter, EditorRequired]
    public required IEnumerable<T> Options { get; set; } // total options

    [Parameter]
    public bool Required { get; set; }

    [Parameter]
    public EventCallback<T> ValueChanged { get; set; }

    [Parameter]
    public Expression<Func<T>>? ValueExpression { get; set; }

    [Parameter]
    public required Func<T, string> DisplayName { get; set; } = (value) => value?.ToString() ?? string.Empty;

    [Parameter]
    public Func<string, string> Format { get; set; } = (str) => str;

    [Parameter]
    public Func<string, T>? CreateNew { get; set; }

    [Parameter]
    public required Func<T, T?, bool>? IsEqual { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    public bool HasData => Value is not null || !string.IsNullOrEmpty(input);

    private string input
    {
        get;
        set
        {
            field = value;
            internalSearch = value;
            // ValueChanged.InvokeAsync(Value).Wait();
        }
    } = string.Empty;
    private string internalSearch { get; set; } = string.Empty;
    private bool isMenuOpen;
    private IEnumerable<T> filteredAvailableOptions => (Options ?? []).Where(option => DisplayName(option).Contains(internalSearch, StringComparison.InvariantCultureIgnoreCase));
    private bool isFocused;

    private async Task OnKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (isMenuOpen)
            {
                if (CreateNew is not null && !string.IsNullOrWhiteSpace(input))
                {
                    await ToggleOption(CreateNew(input));
                }
                else
                {
                    T? option = filteredAvailableOptions.FirstOrDefault();
                    if (option is not null)
                    {
                        await ToggleOption(option);
                    }
                }
            }
            else
            {
                isMenuOpen = true;
            }
        }
        if (e.Code == "Backspace" && string.IsNullOrEmpty(input))
        {
            if (!Required)
            {
                await ToggleOption(default);
            }
        }
        if (e.Key is "﻿ArrowDown" or ﻿"ArrowUp")
        {

        }
    }

    private async Task ToggleOption(T? optionValue)
    {
        var tempInput = internalSearch;
        isMenuOpen = false;
        await ValueChanged.InvokeAsync(optionValue);
        internalSearch = tempInput;
    }

    private void OpenMenu()
    {
        internalSearch = "";
        isMenuOpen = true;
    }

    private void OnBlur()
    {
        var tempInput = internalSearch;
        input = Value is not null ? DisplayName(Value) : string.Empty;
        internalSearch = tempInput;
        isFocused = false;
        isMenuOpen = false;
    }

    private void OnFocus()
    {
        internalSearch = "";
        isFocused = true;
    }
}
